:root {
    --past: #A0A0A0;
    --present: #ffcf4d;
    --future: #00C000;
}


/* header */

header {
    text-align: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#time-display {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* main */

main {
    display: flex;
    justify-content: center;
}

#time-blocks-section {}

.time-blocks-form {
    vertical-align: top;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 15px;
    height: 50px;
}

.time-blocks-form label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: right;
}

.time-blocks-form textarea {
    background-color: var(--future);
    color: rebeccapurple;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
}

.time-blocks-form button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}